<div class="container mt-3">
  <h1>Pedidos</h1>

  <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
    <div class="d-flex">
      <div class="input-group">
        <select [(ngModel)]="statusFiltro" class="form-select" id="statusFiltro">
          <option value="">Todos os status</option>
          <option value="ENTREGUE">Entregue</option>
          <option value="RECEBIDO">Recebido</option>
        </select>
        <button (click)="pesquisar()" class="btn btn-primary">Pesquisar</button>
      </div>
    </div>
    <div class="d-flex">
      <button (click)="pesquisarSemFiltros()" class="btn btn-secondary mx-2">Atualizar</button>
      <button (click)="novoPedido()" class="btn btn-success">Novo Pedido</button>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-primary">
        <tr>
          <th>ID</th>
          <th>Tipo</th>
          <th>Proteína</th>
          <th>Acompanhamento</th>
          <th>Quantidade</th>
          <th>Bebida</th>
          <th>Valor</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="pedidos.length === 0">
          <td colspan="8" class="text-center">Nenhum pedido encontrado.</td>
        </tr>
        
        <tr *ngFor="let pedido of pedidos" (click)="verPedido(pedido.id)" style="cursor: pointer;">
          <td>{{ pedido.id }}</td>
          <td>{{ pedido.tipoLanche }}</td>
          <td>{{ pedido.proteina }}</td>
          <td>{{ pedido.acompanhamento }}</td>
          <td>{{ pedido.quantidade }}</td>
          <td>{{ pedido.bebida }}</td>
          <td>{{ pedido?.valor | currency: 'BRL' }}</td>
          <td>{{ pedido.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>