<h1>Pedidos</h1>

<div search-area class="filter-group">
 
  <select [(ngModel)]="statusFiltro" class="form-control">
    <option value="">Todos os Status</option>
    <option value="ENTREGUE">Entregue</option>
    <option value="RECEBIDO">Recebido</option>
  </select>

  <button (click)="pesquisar()">Pesquisar</button>
</div>

<div class="table-container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Proteína</th>
        <th>Acompanhamento</th>
        <th>Quantidade</th>
        <th>Bebida</th>
        <th>Valor</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos">
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.tipoLanche }}</td>
        <td>{{ pedido.proteina }}</td>
        <td>{{ pedido.acompanhamento }}</td>
        <td>{{ pedido.quantidade }}</td>
        <td>{{ pedido.bebida }}</td>
        <td>{{ pedido?.valor | currency: 'BRL' }}</td>
        <td>{{ pedido.status }}</td>
      </tr>
    </tbody>
  </table>
</div>