<h1>Pedido #{{ pedido?.id }}</h1>

<div>

<div>
    <label>Status</label>
    <div>
    <span>
        {{ pedido?.status }}
    </span>
    </div>
</div>

<div>
    <label>Data do Pedido</label>
    <p>{{ pedido?.criadoEm | date: 'dd/MM/yyyy HH:mm' }}</p>
</div>

<div>
    <label>Valor Total</label>
    <p>{{ pedido?.valor | currency: 'BRL' }}</p>
</div>

<div>
    <label>Tipo do Lanche</label>
    <p>{{ pedido?.tipoLanche }}</p>
</div>

<div>
    <label>Proteína</label>
    <p>{{ pedido?.proteina }}</p>
</div>

<div>
    <label>Acompanhamento</label>
    <p>{{ pedido?.acompanhamento }}</p>
</div>

<div>
    <label>Bebida</label>
    <p>{{ pedido?.bebida }}</p>
</div>

<div>
    <label>Quantidade</label>
    <p>{{ pedido?.quantidade }}</p>
</div>
</div>
