<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h1>Cadastrar Pedido</h1>
      <form>
        <div class="mb-3">
          <textarea
            id="pedido"
            name="pedido"
            class="form-control"
            rows="4"
            placeholder="Insira os detalhes do pedido"
            [(ngModel)]="pedido">
          </textarea>
        </div>
        <div class="d-flex justify-content-end gap-2 mt-3">
          <button (click)="salvarPedido()" class="btn btn-primary">Salvar Pedido</button>
          <button class="btn btn-secondary" (click)="voltar()">Voltar</button>
        </div>
      </form>
    </div>
  </div>
</div>